Data-Pipeline/.pytest_cache
Data-Pipeline/config
Data-Pipeline/data
Data-Pipeline/logs
Data-Pipeline/plugins
Data-Pipeline/.env
Data-Pipeline/gcs_creds.json
Data-Pipeline/dvc.lock
Data-Pipeline/.dvc/tmp
Data-Pipeline/.dvc/cache
Data-Pipeline/__pycache__/
# Environment variables
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
vectorestore/VectorStores
