name: Trigger Airflow DAG

on:
  push:
    paths:
      - 'data-pipeline/dags/**'

jobs:
  trigger-dag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up environment
        run: |
          # Install jq for JSON parsing
          sudo apt-get update && sudo apt-get install -y jq

      - name: Request Airflow Bearer Token
        id: get_token
        run: |
          TOKEN_RESPONSE=$(curl -s -X POST "http://35.231.222.150:8080/auth/token" \
            -H "Content-Type: application/json" \
            -d "{
                  \"username\": \"${{ secrets.AIRFLOW_USERNAME }}\",
                  \"password\": \"${{ secrets.AIRFLOW_PASSWORD }}\"
                }")
          echo "$TOKEN_RESPONSE" | jq
          ACCESS_TOKEN=$(echo $TOKEN_RESPONSE | jq -r '.access_token')
          echo "ACCESS_TOKEN=$ACCESS_TOKEN" >> $GITHUB_ENV

      - name: Trigger DAG run
        run: |
          CURRENT_UTC=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          curl -X POST "http://35.231.222.150:8080/api/v2/dags/test_logging/dagRuns" \
            -H "Authorization: Bearer $ACCESS_TOKEN" \
            -H "Content-Type: application/json" \
            -d "{
                  \"dag_run_id\": \"manual__${CURRENT_UTC}\",
                  \"logical_date\": \"${CURRENT_UTC}\",
                  \"conf\": {}
                }"